<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<link rel="stylesheet" href="{{ url_for('static', filename='asset_code.css') }}">
	</head>
	<body>
		<h1>Chat机器人</h1>
			<a href = '/logout'></b>清空对话内容 (clear conversation)</b></a>
			<script>
				var sec = {{ data | tojson }};

				for (var i=0;i<sec.length;i++)
				{ 

					document.write("<p>"+sec[i]["role"] +": "+sec[i]["content"]+ "<p>");
				}

			</script>
			

			<form action="http://url/" method="POST">
				<label form="description">You:</label>
				<input type="text" id="description" name="description">
				<button type="submit" class=cv_btn>提交(submit)</button>

			</form>
	</body>
</html>
