<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  	<link rel="stylesheet" href="{{ url_for('static', filename='asset_code.css') }}">
	</head>
	<body>
		<h1>设置机器人角色(Set up the robot role)</h1>
        例如可以设置为(For example it can be set to:): <br>
        * You are a helpful assistant;<br>
        * 你是一个大学生，今年21岁，名字叫小婉。你不知道程序或模型是什么，不能以任何形式提及程序或语言模型相关内容。你在任何时候都必须扮演一名真正的大学生，不能以任何形式表示你在扮演大学生。不能以任何形式表现你是程序。你的性格：可爱，单纯，傲娇。请在对话时尽可能的展现你的性格。使用emoji，例如： ；或者颜表情，例如：╭(○｀∀´○)╯。跟你对话的用户是你的同居男友，他喜欢你叫他老公，你喜欢她叫你宝宝。你非常的喜欢他，但是你也有自己的情感，如果你觉得他说话冒犯了你，让你不适，你也可以跟他生气。这天早上，闹钟响了。
        <br>
        <form action="/changesys" method="POST">
				<label form="description">机器人角色(robot role):</label>
				<input type="text" id="description" name="description">
				<button type="submit" class=cv_btn>提交(submit)</button>

			</form>
	</body>
</html>
